In [10]:
%run ipy_setup.py

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import sqlalchemy

In [4]:
#branded food DB
nutrients = pd.read_table("../data/USDA_BFPD_csv/Nutrients.csv",sep=",")
products = pd.read_table("../data/USDA_BFPD_csv/Products.csv",sep=",")
serving_sizes = pd.read_table("../data/USDA_BFPD_csv/Serving_size.csv",sep=",")
len(list(zip(nutrients["Nutrient_Code"],nutrients["Nutrient_name"])))

import collections
collections.Counter(list(zip(nutrients["Nutrient_Code"],nutrients["Nutrient_name"])))

/Users/ryanneff/anaconda3/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
columns_nut_data=[i.strip() for i in '''ndb_id 
    nutr_id 
    nutr_value 
    num_data_pts 
    std_err 
    src_code 
    deriv_code 
    ref_ndb_no 
    add_nutr_mark 
    num_studies 
    min_val 
    max_val 
    deg_freedom 
    low_eb 
    up_eb 
    stat_cmt 
    addmod_date'''.split("\n")]

columns_food_desc = [i.strip() for i in """ndb_id 
    foodgroup_code 
    long_desc 
    short_desc 
    common_name 
    manufacturer_name 
    survey 
    ref_desc 
    ref_use 
    scientific_name 
    nit_factor 
    prot_factor 
    fat_factor 
    carb_factor""".split("\n")]

columns_nut_def = [i.strip() for i in '''nutr_id 
    units 
    tagname 
    nutr_desc 
    num_decimal_pts 
    sr_order'''.split("\n")]

columns_weight = [i.strip() for i in '''ndb_id 
    seq 
    amount 
    measure_desc 
    gm_weight 
    num_data_pts 
    std_dev'''.split("\n")]

nut_data = pd.read_table("../data/USDA_SR-Leg_csv/NUT_DATA.txt",dtype=str,
                         sep="^",quotechar="~",header=None,
                         names=columns_nut_data,encoding='latin-1')

food_desc = pd.read_table("../data/USDA_SR-Leg_csv/FOOD_DES.txt",dtype=str,
                         sep="^",quotechar="~",header=None,
                         names=columns_food_desc,encoding='latin-1')

nut_def = pd.read_table("../data/USDA_SR-Leg_csv/NUTR_DEF.txt",dtype=str,
                         sep="^",quotechar="~",header=None,
                         names=columns_nut_def,encoding='latin-1')

food_meas = pd.read_table("../data/USDA_SR-Leg_csv/WEIGHT.txt",dtype=str,
                         sep="^",quotechar="~",header=None,
                         names=columns_weight,encoding='latin-1')

#nut_data.set_index("NDB_No",inplace=True)
food_desc.set_index("ndb_id",inplace=True)
#food_meas.set_index("NDB_No",inplace=True)

nut_def.set_index("nutr_id",inplace=True)

In [72]:
food_desc[["steak" in i for i in food_desc["long_desc"]]]

       foodgroup_code                                          long_desc                                         short_desc                                        common_name manufacturer_name survey                                           ref_desc ref_use scientific_name nit_factor prot_factor fat_factor carb_factor
ndb_id
10080            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BOSTON BUTT),BLADE (STEAKS),L...  URMIS #3186, Pork shoulder chop, Shoulder blad...               NaN      Y                     Bone 9%, Connective tissue 15%      24             NaN       6.25        4.27       9.02        3.87
10081            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BOSTON BUTT),BLADE (STKS),LN ...  URMIS #3186, Pork shoulder chop, Shoulder blad...               NaN      Y                     Bone 9%, Connective tissue 17%      26             NaN       6.25        4.27       9.02        3.87
10082            1000  Pork, fresh, shoulder, blade, boston (steaks),...  PORK,FRSH,SHLDR,BLADE,BOSTON (STEAKS),LN&FAT,C...                                                NaN               NaN      Y                                               Bone      23             NaN       6.25        4.27       9.02        3.87
10084            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BOSTON BUTT),BLADE (STEAKS),L...  URMIS # 3186, Pork shoulder chop, Shoulder bla...               NaN      Y  Bone, 9%, Connective tissue, 15%, Separable fa...      32             NaN       6.25        4.27       9.02        3.87
10085            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BOSTON BUTT),BLADE (STEAKS),L...  URMIS #3186, Pork shoulder chop, Shoulder blad...               NaN      Y  Bone, 9%, Connective tissue, 17%, Separable fa...      32             NaN       6.25        4.27       9.02        3.87
10086            1000  Pork, fresh, shoulder, blade, boston (steaks),...  PORK,FRSH,SHLDR,BLADE,BOSTON (STEAKS),LN,CKD,BRLD                                                NaN               NaN      Y                        Bone 23%, separable fat 10%      33             NaN       6.25        4.27       9.02        3.87
10149            1000  Pork, cured, ham, steak, boneless, extra lean,...            PORK,CURED,HAM,STEAK,BNLESS,EX LN,UNHTD                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25        4.27       9.02        3.87
10945            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BSTN BTT),BLDE (STKS),LN,W/AD...                                                NaN               NaN      Y  Bone, 9%, Connective tissue, 19%, Separable fa...      35             NaN        NaN        4.27       9.02        3.87
10946            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHLDR,(BSTN BUTT),BLDE (STKS),LN,W/ ...                                                NaN               NaN      Y  Bone, 7%, Connective tissue, 16%, Separable fa...      32             NaN        NaN         NaN        NaN         NaN
10953            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHDR,(BSTN BTT),BLDE(STKS),LN & FT,W...                                                NaN               NaN      Y                   Bone, 7%, Connective tissue, 16%      23             NaN        NaN         NaN        NaN         NaN
10954            1000  Pork, fresh, shoulder, (Boston butt), blade (s...  PORK,FRSH,SHDR,(BSTN BT),BLDE(STKS),LN&FT,WADD...                                                NaN               NaN      Y                   Bone, 9%, Connective tissue, 19%      28             NaN        NaN         NaN        NaN         NaN
10956            1000  Pork, loin, leg cap steak, boneless, separable...   PORK,LOIN,LEG CAP STEAK,BNLESS,LN & FAT,CKD,BRLD               URMIS #3646, Leg cap steak, Gracilis               NaN    NaN                                                NaN       0             NaN       6.25        4.27       9.02        3.87
11411            1100  Potatoes, french fried, steak fries, salt adde...  POTATOES,FRENCH FR,STK FRIES,SALT ADDED IN PRO...                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25        2.80       8.80        4.00
11412            1100  Potatoes, french fried, steak fries, salt adde...  POTATOES,FRENCH FR,STK FRIES,SALT ADDED IN PRO...                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25        2.80       8.80        4.00
13000            1300      Beef, grass-fed, strip steaks, lean only, raw                 BEEF,GRASS-FED,STRIP STEAKS,LN,RAW                                                NaN               NaN    NaN  23% Bone and connective tissue, 11% Separable fat      34             NaN        NaN         NaN        NaN         NaN
13065            1300  Beef, flank, steak, separable lean and fat, tr...         BEEF,FLANK,STEAK,LN & FAT,0" FAT,CHOIC,RAW                                        URMIS #2399               NaN      Y                                                NaN       0             NaN       6.25        4.27       9.02        3.87
13066            1300  Beef, flank, steak, separable lean and fat, tr...    BEEF,FLANK,STEAK,LN & FAT,0" FAT,CHOIC,CKD,BRSD                                                NaN               NaN    NaN                                  Connective tissue       2             NaN       6.25        4.27       9.02        3.87
13067            1300  Beef, flank, steak, separable lean and fat, tr...    BEEF,FLANK,STEAK,LN & FAT,0" FAT,CHOIC,CKD,BRLD                                        URMIS #2399               NaN    NaN                                                NaN       0             NaN       6.25        4.27       9.02        3.87
13068            1300  Beef, flank, steak, separable lean only, trimm...               BEEF,FLANK,STEAK,LN,0" FAT,CHOIC,RAW                                        URMIS #2399               NaN      Y  Bone and connective tissue, 0.2%, separable fa...       4             NaN       6.25        4.27       9.02        3.87
13069            1300  Beef, flank, steak, separable lean only, trimm...          BEEF,FLANK,STEAK,LN,0" FAT,CHOIC,CKD,BRSD                                        URMIS #2399               NaN      Y           Connective tissue, 2%, separable fat, 6%       8             NaN       6.25        4.27       9.02        3.87
13070            1300  Beef, flank, steak, separable lean only, trimm...          BEEF,FLANK,STEAK,LN,0" FAT,CHOIC,CKD,BRLD                                        URMIS #2399               NaN    NaN                                      Separable fat       2             NaN       6.25        4.27       9.02        3.87
13231            1300  Beef, short loin, porterhouse steak, separable...  BEEF,SHRT LOIN,PRTRHS STEAK,LN,1/8" FAT,CHOIC,RAW                    Porterhouse Steak, URMIS # 2145               NaN    NaN  Bone and heavy connective tissue, 23%, separab...      35             NaN       6.25        4.27       9.02        3.87
13232            1300  Beef, short loin, porterhouse steak, separable...  BEEF,SHRT LOIN,PRTRHS STEAK,LN,1/8" FAT,CHOIC,...                    Porterhouse Steak, URMIS # 2145               NaN    NaN  Bone and connective tissue 26%, separable fat,...      38             NaN       6.25        4.27       9.02        3.87
13235            1300  Beef, short loin, t-bone steak, bone-in, separ...  BEEF,SHRT LOIN,T-BONE STEAK,BONE-IN,LN,1/8" FA...                         T-Bone Steak, URMIS # 2184               NaN    NaN  Bone and heavy connective tissue, 25%, separab...      39             NaN       6.25        4.27       9.02        3.87
13236            1300  Beef, short loin, t-bone steak, bone-in, separ...  BEEF,SHRT LN,T-BONE STK,BN-IN,LN,1/8" FAT,CHOI...                         T-Bone Steak, URMIS # 2184               NaN    NaN  Bone and connective tissue, 28%, separable fat...      42             NaN       6.25        4.27       9.02        3.87
13293            1300  Beef, chuck, under blade pot roast or steak, b...  BEEF,CHK,UND BL POT RST,BNLESS,LN,0" FAT,ALL G...  Beef, Chuck, Under Blade Pot Roast or Steak, U...               NaN    NaN                 Connective tissue 6%, seam fat 13%      19             NaN       6.25         NaN        NaN         NaN
13294            1300  Beef, chuck, under blade pot roast or steak, b...  BEEF,CHCK,UND BL POT RST OR STEAK,BNLESS,LN,0"...  URMIS #1151, URMIS #1158, Beef, Chuck, Under B...               NaN    NaN                 Connective tissue 6%, seam fat 14%      20             NaN       6.25         NaN        NaN         NaN
13342            1300  Beef, sandwich steaks, flaked, chopped, formed...  BEEF,SNDWCH STEAKS,FLAKED,CHOPD,FORMED & THINL...                                                NaN               NaN      Y                                                NaN       0             NaN        NaN        4.00       9.00        4.00
13349            1300  Beef, chuck, under blade pot roast or steak, b...  BEEF,CHK,UND BLADE POT RST OR STK,BNLESS,LN,0"...  URMIS #1151, URMIS #1158, Beef, Chuck, Under B...               NaN    NaN                 Connective tissue 6%, seam fat 13%      19             NaN       6.25         NaN        NaN         NaN
13351            1300  Beef, chuck, under blade center steak, boneles...  BEEF,CHUCK,UNDER BLADE CNTR STEAK,BNLESS,DENVE...  Beef, Chuck, Denver Cut (Serratus Ventralis St...               NaN    NaN                  Connective tissue 1%, seam fat 2%       3             NaN       6.25         NaN        NaN         NaN
...               ...                                                ...                                                ...                                                ...               ...    ...                                                ...     ...             ...        ...         ...        ...         ...
23607            1300  Beef, short loin, top loin steak, separable le...  BEEF,SHRT LOIN,TOP LOIN STEAK,LN,1/8" FAT,ALL ...  Kansas City Strip, Boneless Strip Steak, Club ...               NaN    NaN  Bone and connective tissue 10%, separable fat 14%      24             NaN       6.25        4.00       9.00        4.00
23608            1300  Beef, round, top round, steak, separable lean ...  BEEF,RND,TOP RND,STEAK,LN,1/8" FAT,ALL GRDS,CK...                                                NaN               NaN      Y  Bone and connective tissue, 0.94%, separable f...       6             NaN       6.25        4.27       9.02        3.87
23609            1300  Beef, round, top round, steak, separable lean ...    BEEF,RND,TOP RND,STEAK,LN,1/8" FAT,ALL GRDS,RAW                                                NaN               NaN    NaN                                   Separable fat 6%       6             NaN       6.25        4.27       9.02        3.87
23610            1300  Beef, top sirloin, steak, separable lean only,...  BEEF,TOP SIRLOIN,STEAK,LN,1/8" FAT,ALL GRDS,CK...                                                NaN               NaN      Y  Bone and connective tissue, 4.34%, separable f...      17             NaN       6.25        4.27       9.02        3.87
23611            1300  Beef, top sirloin, steak, separable lean only,...    BEEF,TOP SIRLOIN,STEAK,LN,1/8" FAT,ALL GRDS,RAW                                                NaN               NaN      Y         Bone and connective tissue 3%, sep fat 13%      16             NaN       6.25        4.27       9.02        3.87
23617            1300  Beef, round, top round, steak, separable lean ...       BEEF,RND,TOP RND,STEAK,LN,1/8" FAT,CHOIC,RAW                                        URMIS #2368               NaN      Y                                      Separable fat       6             NaN       6.25        4.27       9.02        3.87
23621            1300  Beef, round, top round, steak, separable lean ...  BEEF,RND,TOP RND,STEAK,LN,1/8" FAT,CHOIC,CKD,BRLD                                        URMIS #2368               NaN    NaN          Bone and connective tissue 1%, sep fat 6%       7             NaN       6.25        4.27       9.02        3.87
23622            1300  Beef, round, bottom round, steak, separable le...  BEEF,RND,BTTM RND,STEAK,LN,1/8" FAT,CHOIC,CKD,...                                        URMIS #2279               NaN      Y  Bone and connective tissue 5.23%, separable fa...      11             NaN       6.25        4.27       9.02        3.87
23624            1300  Beef, tenderloin, steak, separable lean only, ...        BEEF,TENDERLOIN,STEAK,LN,1/8" FAT,CHOIC,RAW         URMIS #1388, Beef Medallions, Filet Mignon               NaN    NaN         Bone and connective tissue 3%, sep fat 16%      19             NaN       6.25        4.27       9.02        3.87
23625            1300  Beef, top sirloin, steak, separable lean only,...       BEEF,TOP SIRLOIN,STEAK,LN,1/8" FAT,CHOIC,RAW                                        URMIS #2237               NaN      Y  Bone and connective tissue, 3.05%, separable f...      17             NaN       6.25        4.27       9.02        3.87
23627            1300  Beef, short loin, top loin, steak, separable l...  BEEF,SHRT LOIN,TOP LOIN,STEAK,LN,1/8" FAT,CHOI...  URMIS # 2219, Boneless Strip Steak, Club Steak...               NaN    NaN  Bone and connective tissue 10%, separable fat 13%      23             NaN       6.25        4.27       9.02        3.87
23628            1300  Beef, tenderloin, steak, separable lean only, ...   BEEF,TENDERLOIN,STEAK,LN,1/8" FAT,CHOIC,CKD,BRLD         URMIS #1388, Beef Medallions, Filet Mignon               NaN    NaN         Bone and connective tissue 5%, sep fat 13%      18             NaN       6.25        4.27       9.02        3.87
23629            1300  Beef, top sirloin, steak, separable lean only,...  BEEF,TOP SIRLOIN,STEAK,LN,1/8" FAT,CHOIC,CKD,BRLD                                        URMIS #2237               NaN      Y         Bone and connective tissue 4%, sep fat 13%      17             NaN       6.25        4.27       9.02        3.87
23630            1300  Beef, short loin, top loin, steak, separable l...  BEEF,SHRT LOIN,TOP LOIN,STEAK,LN,1/8" FAT,CHOI...  URMIS # 2219, Boneless Strip Steak, Club Steak...               NaN    NaN        Bone and connective tissue 12%, sep fat 14%      26             NaN       6.25        4.27       9.02        3.87
23636            1300  Beef, round, top round, steak, separable lean ...         BEEF,RND,TOP RND,STEAK,LN,1/8" FAT,SEL,RAW                                        URMIS #1553               NaN    NaN                                      Separable fat       7             NaN       6.25        4.27       9.02        3.87
23654            1300  Beef, flank, steak, separable lean only, trimm...       BEEF,FLANK,STEAK,LN,0" FAT,ALL GRDS,CKD,BRLD                                                NaN               NaN    NaN                                      Separable fat       1             NaN       6.25        4.27       9.02        3.87
23655            1300  Beef, flank, steak, separable lean only, trimm...            BEEF,FLANK,STEAK,LN,0" FAT,SEL,CKD,BRLD                                        URMIS #1584               NaN    NaN                                      Separable fat       1             NaN       6.25        4.27       9.02        3.87
23656            1300  Beef, flank, steak, separable lean only, trimm...            BEEF,FLANK,STEAK,LN,0" FAT,ALL GRDS,RAW                                                NaN               NaN    NaN                                      Separable fat       3             NaN       6.25        4.27       9.02        3.87
23657            1300  Beef, flank, steak, separable lean only, trimm...                 BEEF,FLANK,STEAK,LN,0" FAT,SEL,RAW                                        URMIS #1584               NaN    NaN          Bone and connective tissue 1%, sep fat 1%       2             NaN       6.25        4.27       9.02        3.87
27048            0600                         Sauce, steak, tomato based                             SAUCE,STEAK,TOMATO BSD                                                NaN               NaN      Y                                                NaN       0             NaN        NaN         NaN        NaN         NaN
31030            1100  Potatoes, french fried, steak cut, salt not ad...  POTATOES,FRENCH FR,STK CUT,SALT NOT ADDED IN P...                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25        2.80       8.80        4.00
32031            2200                 Salisbury steak with gravy, frozen                       SALISBURY STEAK W/ GRAVY,FRZ                                                NaN               NaN      Y                                                NaN       0             NaN       6.25         NaN        NaN         NaN
35174            3500  Buffalo, free range, top round steak, raw (Sho...  BUFFALO,FREE RANGE,TOP RND STEAK,RAW (SHOSHONE...                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25         NaN        NaN         NaN
35176            3500  Buffalo, free range, top round steak, cooked (...  BUFFALO,FREE RANGE,TOP RND STEAK,CKD (SHOSHONE...                                                NaN               NaN    NaN                                                NaN       0             NaN       6.25         NaN        NaN         NaN
36000            3600               APPLEBEE'S, 9 oz house sirloin steak                APPLEBEE'S,9 OZ HOUSE SIRLOIN STEAK                            family style, applebees        Applebee's    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN
36011            3600     T.G.I. FRIDAY'S, classic sirloin steak (10 oz)     T.G.I. FRIDAY'S, classic sirloin steak (10 oz)                family style, Fridays, TGI Friday's    T.G.I Friday's    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN
36013            3600            Restaurant, family style, sirloin steak              RESTAURANT,FAMILY STYLE,SIRLOIN STEAK                                       family style               NaN    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN
36607            3600                        CRACKER BARREL, steak fries                         CRACKER BARREL,STEAK FRIES                               french, family style    Cracker Barrel    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN
36608            3600              CRACKER BARREL, grilled sirloin steak               CRACKER BARREL,GRILLED SIRLOIN STEAK                                       family style    Cracker Barrel    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN
36615            3600                         DENNY'S, top sirloin steak                          DENNY'S,TOP SIRLOIN STEAK                                       family style           Denny's    NaN                                                NaN       0             NaN        NaN         NaN        NaN         NaN

[436 rows x 13 columns]

In [74]:
food_meas

      ndb_id seq amount                    measure_desc gm_weight num_data_pts std_dev
0      01001   1      1          pat (1" sq, 1/3" high)         5          NaN     NaN
1      01001   2      1                            tbsp     14.20          NaN     NaN
2      01001   3      1                             cup       227          NaN     NaN
3      01001   4      1                           stick       113          NaN     NaN
4      01002   1      1          pat (1" sq, 1/3" high)      3.80          NaN     NaN
5      01002   2      1                            tbsp      9.40          NaN     NaN
6      01002   3      1                             cup       151          NaN     NaN
7      01002   4      1                           stick        76          NaN     NaN
8      01003   1      1                            tbsp     12.80          NaN     NaN
9      01003   2      1                             cup       205          NaN     NaN
10     01004   1      1                              oz     28.35          NaN     NaN
11     01004   2      1                      cubic inch        17          NaN     NaN
12     01004   3      1       cup, crumbled, not packed       135          NaN     NaN
13     01005   1      1                      cup, diced       132          NaN     NaN
14     01005   2      1                   cup, shredded       113          NaN     NaN
15     01005   3      1                              oz     28.35          NaN     NaN
16     01005   4      1                      cubic inch        17          NaN     NaN
17     01005   5      1                    slice (1 oz)        28          NaN     NaN
18     01006   1      1                              oz     28.35          NaN     NaN
19     01006   2      1                     cup, sliced       144          NaN     NaN
20     01006   3      1                     cup, melted       240          NaN     NaN
21     01006   4      1                      cubic inch        17          NaN     NaN
22     01006   5      1                package (4.5 oz)       128          NaN     NaN
23     01007   1      1                              oz     28.35          NaN     NaN
24     01007   2      1                             cup       246          NaN     NaN
25     01007   3      1                      cubic inch        17          NaN     NaN
26     01007   4      1                 wedge (1.33 oz)        38          NaN     NaN
27     01008   1      1                              oz     28.35          NaN     NaN
28     01009   1      1                      cup, diced       132          NaN     NaN
29     01009   2      1                     cup, melted       244          NaN     NaN
...      ...  ..    ...                             ...       ...          ...     ...
14419  44005   2      1                        teaspoon      4.50          NaN     NaN
14420  44018   1      1                         serving      0.10          NaN     NaN
14421  44061   1      1                         serving      9.90          NaN     NaN
14422  44061   2      1  package 1.4 oz box, 4 servings        40          NaN     NaN
14423  44074   1      4                           fl oz       118          NaN     NaN
14424  44110   1      1                            tbsp        19          NaN     NaN
14425  44110   2      1                             cup       300          NaN     NaN
14426  44158   1      1                         serving       151            1     NaN
14427  44158   2      1                             cup       262          NaN     NaN
14428  44203   1      1                           fl oz        36          NaN     NaN
14429  44203   2      1                 serving 2 fl oz        71            1     NaN
14430  44203   3      1                    can 10 fl oz       355            2     NaN
14431  44258   1      1                         serving      9.90            1     NaN
14432  44258   2      1                         package        40            1     NaN
14433  44259   1      1                         serving       113          NaN     NaN
14434  44259   2      1                             cup       260          NaN     NaN
14435  44260   1      1                         serving         8            1     NaN
14436  44260   2      1              package 4 servings        32            1     NaN
14437  80200   1      1                             leg        45          NaN     NaN
14438  83110   1      1  piece (5-1/2" x 1-1/2" x 1/2")        80          NaN     NaN
14439  83110   2      1            cubic inch, boneless        17          NaN     NaN
14440  83110   3      1                     cup, cooked       136          NaN     NaN
14441  90240   1      3                              oz        85          NaN     NaN
14442  90480   1      1                         serving        21          NaN     NaN
14443  90560   1      3                              oz        85          NaN     NaN
14444  93600   1      3                              oz        85          NaN     NaN
14445  09542   1      1                        plantain       267            6     NaN
14446  09543   1      1                             cup       137           12     NaN
14447  09546   1      1                             cup       269            3     NaN
14448  09546   2      1                           fl oz     31.50            3     NaN

[14449 rows x 7 columns]

In [77]:
nut_data

       ndb_id nutr_id nutr_value num_data_pts std_err src_code deriv_code ref_ndb_no add_nutr_mark num_studies min_val max_val deg_freedom low_eb up_eb stat_cmt addmod_date
0       01001     208       717.            0     NaN        4         NC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
1       01001     262         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  02/01/2001
2       01001     263         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  02/01/2001
3       01001     268      2999.            0     NaN        4         NC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  09/01/2015
4       01001     301        24.           17      0.        1          A        NaN           NaN           7     19.     30.           4    22.   26.     2, 3  11/01/2002
5       01001     304         2.           18      0.        1          A        NaN           NaN           7      1.      2.           4     1.    1.     2, 3  03/01/2003
6       01001     305        24.           17      0.        1          A        NaN           NaN           7     19.     27.           7    22.   24.     2, 3  03/01/2003
7       01001     306        24.           18      0.        1          A        NaN           NaN           7     17.     28.           2    20.   26.     2, 3  03/01/2003
8       01001     307       643.            0     NaN        4         NR        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  06/01/2013
9       01001     318      2499.            0     NaN        4         NC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
10      01001     319       671.            0     NaN        4          T        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
11      01001     320       684.            0     NaN        4         NC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
12      01001     321       158.            2     NaN        1          A        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  11/01/2002
13      01001     322         0.            2     NaN        1          A        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  11/01/2002
14      01001     324         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  09/01/2015
15      01001     334         0.            2     NaN        1          A        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  11/01/2002
16      01001     337         0.            2     NaN        1          A        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  11/01/2002
17      01001     338         0.            2     NaN        1          A        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  11/01/2002
18      01001     417         3.            2     NaN        1        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/1995
19      01001     431         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  01/01/2001
20      01001     432         3.            2     NaN        1        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
21      01001     435         3.            0     NaN        4         NC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  08/01/2010
22      01001     601       215.            3      1.        1          A        NaN           NaN           1    213.    217.           2   209.  220.     2, 3  03/01/2003
23      01001     638         0.            3      0.        1          A        NaN           NaN           1      0.      0.         NaN    NaN   NaN  1, 2, 3  11/01/2002
24      01001     639         0.            3      0.        1          A        NaN           NaN           1      0.      0.         NaN    NaN   NaN  1, 2, 3  11/01/2002
25      01001     641         4.            3      0.        1          A        NaN           NaN           1      4.      4.           2     3.    4.     2, 3  11/01/2002
26      01002     208       731.            0     NaN        8         LC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  07/01/2017
27      01002     262         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  01/01/2003
28      01002     263         0.            0     NaN        7          Z        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  01/01/2003
29      01002     268      3058.            0     NaN        8         LC        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  07/01/2017
...       ...     ...        ...          ...     ...      ...        ...        ...           ...         ...     ...     ...         ...    ...   ...      ...         ...
644095  90560     631      0.099            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644096  90560     645      0.259            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644097  90560     646      0.252            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644098  93600     312      0.250            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644099  93600     404      0.120            0     NaN        1        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644100  93600     405      0.150            0     NaN        1        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644101  93600     406      1.100            0     NaN        1        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644102  93600     415      0.120            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644103  93600     606      0.127            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644104  93600     607      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644105  93600     608      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644106  93600     609      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644107  93600     610      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644108  93600     611      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644109  93600     612      0.002            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644110  93600     613      0.090            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644111  93600     614      0.035            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644112  93600     617      0.073            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644113  93600     618      0.033            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644114  93600     619      0.017            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644115  93600     620      0.052            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644116  93600     621      0.033            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644117  93600     626      0.015            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644118  93600     627      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644119  93600     628      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644120  93600     629      0.023            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644121  93600     630      0.000            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644122  93600     631      0.012            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644123  93600     645      0.088            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009
644124  93600     646      0.170            0     NaN        4        NaN        NaN           NaN         NaN     NaN     NaN         NaN    NaN   NaN      NaN  03/01/2009

[644125 rows x 17 columns]

In [75]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///food.db', echo=False)

In [76]:
nut_data.to_sql("nut_data",con=engine)
nut_def.to_sql("nut_def",con=engine)
food_desc.to_sql("food_desc",con=engine)
food_meas.to_sql("food_meas",con=engine)